  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body 
h1,
h2,
h3,
h4,
h5,
h6,
p{
    font-family: 'Poppins', sans-serif !important;
}
.customNab button{
    box-shadow: -10px 10px black;
    background-color: rgb(73, 84, 199);
}
.customNab li {
    padding-right: 30px;
}
.customNab ul li{
    list-style-type:none;
}
.customNab ul li a:hover{
    text-decoration: underline;
}
.customNab button{
    color:white;
}
.intro-banner{
    background-image: url('images/top-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-right{
    display:inline-flex;
}
@media (max-width:991px) {
    .banner-right img{
        height: 300px !important ;
        width:100%;
}
}
.banner-left{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.banner-left h1{
    color: #23292F;
    font-size: 76px;
    font-style: normal;
    font-weight: 700;
}
.banner-left p{
    color: #23292F;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
}
.banner-left ::after{
    background-image: url('images/btn-img.png');
    position: absolute;
    content:" ";
    bottom:15px;
    left:150px;
    background-repeat: no-repeat;
    display: block;
    width:82px;
    height: 109px;
}
.banner-left ::before{
    background-image: url('images/line.png');
    position: absolute;
    content:" ";
    bottom:80px;
    right:15px;
    background-repeat: no-repeat;
    display: block;
    width:137px;
    height: 124px;
}
.banner-left button{
    width:150px;
    height: 50px;
    background-color: #4954C7;
    color:white;
    box-shadow: 5px 10px black;
}
.banner-left span{
    color: blue;    
}

@media (max-width: 991px){
    .banner-left h1 {
        font-size: 30px !important;
    }
}
.blue-top{
    display: inline-flex;
    flex-wrap: wrap;
}
.section-blue-top{
    display: flex;
    flex-wrap: wrap;
    background-image: url('images/bluebg.JPG');
    background-repeat: no-repeat;
    background-position: center;
    padding:50px 0px 100px !important;
    position: relative;
    text-align: center;
    color: white;
    background-size: cover;
}
.blue-top-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blue-top-right h2{
    color: #FFF;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 122.727% */
}
.blue-top-right p{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.blue-top::after{
    background-image: url('images/star.png');
    background-repeat: no-repeat;
    content:" ";
    display: block;
    width:159px;
    height:201px;
    position:absolute;
    top:80px;
    left:80px;
}
.section-blue-top::before{
    background: url('images/bitlogo.jpg') scroll 0 0;
    background-repeat: no-repeat;
    content:" ";
    display: block;
    width:194px;
    height:194px;
    position:absolute;
    bottom:-50px;
    right:40px;
}
@media(max-width:991px){
    .section-blue-top{
        background-size:cover;
    }
}

.list-contents ul {
    list-style-type: none;
    padding: 0px;
    text-align: start;
    
}
.white-top h3{
    color: #23292F;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 122.727% */
}
.white-top{
    display: flex;
}
.section-white-top{
    display: flex;
    flex-wrap: wrap;
    background-image: url('images/whitebg.jpg');
    margin-top:-50px; 
    margin-top: -100px;
    padding:50px;

}
.section-white-top img{
    width:100%;
}
.white-top-left{
    display: inline-flex;
    flex-direction: column;
    width:100%;
   
}
.white-top-right{
    display: inline-flex;   
    align-items: center;  
    height:100%;
    width: 100%; 
}
@media (max-width:991px) {
    .white-top img{
        height: 300px !important ;
        align-items: end;
        width: 50%;
}
}
hr{
    width:750px;
    background-color: black;
    height: 1px;
}
.section-star-top{
    display:flex;
    background-image: url('images/bluestarg.jpg') !important;
    text-align: center;
    padding: 130px 0px 120px;
    margin-top: -50px;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    position: relative;
}
.star-content {
    color:white;
}
.star-content h3{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 137.5% */
}
.star-content img{
    width: 1350px;
    height: 292px;
    position: absolute;
    left:50px;
    bottom:100px;
}
.star-content button{
    background: #E36429;
    position: relative;
    z-index: 1;
    border:2px solid black;
    color:white;
    margin-top:30px;
    width: 283px;
    height: 69px;
    border-radius: 0px;
}
@media(max-width:991px){
    .section-star-top{
        background-size:cover;
    }
    .startop img{
            height: 30px !important;
    }
}
.section-card-top p{
    color: #23292F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 250% */
}
.section-card-top h1{
    color: #23292F;
    text-align: center;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 122.727% */
    margin-bottom:50px;
}
.section-card-top button{
    background-color: #4954C7;
    color:white;
    padding: 10px 30px;
    box-shadow: 10px 10px black;
    margin:30px;
    position: relative;
    left:20px;
}
.section-card-top ul li{
    list-style-type: none;
    background-repeat: no-repeat;
    position: relative;
    padding: 0px;
    line-height: 50px;
    height: 100%;
}
.section-card-top ul li::before{
    content: " ";
    background-image: url('images/tick.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    top: 10px;
    width: 31px;
    height: 31px;
    left: -40px;
    align-items: start;
}
.section-card-top{
    background-image: url('images/whitebg.jpg');
    padding-bottom: 150px;
    margin-top: -30px;
    background-size: cover;
    position: relative;
    padding: 130px 0px 220px !important;
}
.section-card-top::after{
    content:"";
    background-image: url('images/red-star.jpg');
    background-repeat: no-repeat;
    display: block;
    width:147px;
    height:141px;
    position:absolute;
    bottom:-60px;
    right: 150px;
    z-index: 1;
}
.tile1{
    background-color: white;
}

.tile1 ul li
{
    margin-left:50px;
}
.tile1 button{
    font-size: 20px;
    background-color: #4954C7;
    padding:10px 50px;
    border-radius: 0px;
}
.tile-head{
    text-align: center;
    padding-top:15px;
}
.card{
    height: 100%;
    align-items: center;
}
.card p{
    color: #23292F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 250% */
}
.card:hover{
    background-color:#4954C7;
    height:120%;
    margin-top:-50px;
    border:2px #FFF;
}
.card .btn{
    border-radius: 0px;
}
.card:hover{
    .btn{
        color: #4954C7;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30.5px; /* 127.083% */
        background-color: #FFF;
    }
}
.row-cols{
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}
.tile2 button{
    font-size: 20px;
    margin-top:50px;
    background-color: white;
    color:#4954C7;
    padding:10px 50px;
    border-radius: 0px;
}
.tile2 ul li
{
    margin-left:50px;
}
.tile3{
    background-color: white;
}
.tile3 button{
    font-size: 20px;
    background-color: #4954C7;
    position: relative;
    padding:10px 50px;
    border-radius: 0px;
}
.tile3 ul li
{
    margin-left:50px;
}
.contain-row{
    background-color: white;
    margin-top:80px;

}
.content-card-head h1{
    padding-top:70px;
    padding-bottom: 30px;
    line-height: 50px;
    margin-bottom: 60px;
    text-align: center;
}
.slide-tops h3{
    color: #23292F;
    text-align: center;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 122.727% */
    margin:150px 0px 50px;
}
.brick-row{
    height: 100%;
}
.brick-top{
    position: relative;
}
.section-brick-top::before{
    content:"";
    background-image: url('images/blue-brick.jpg');
    background-repeat: no-repeat;
    width:180px;
    height:206px;
    position:absolute;
    top:10px;
    left:-20px;
    display: block;
}
.section-brick-top::after{
    content:" ";
    background-image: url('images/red-brick.jpg');
    background-repeat: no-repeat;
    position: absolute;
    bottom:50px;
    right:350px;
    width:280px;
    height: 131px;
    display: block;
}
.section-brick-top {
    background-image: url('images/benefit_bg.jpg');
    background-repeat: no-repeat;   
    padding:120px 0px 220px !important;
    position: relative;
    margin-top: -50px;
    background-size: cover;
}
.brick-top h2{
    color: #23292F;
    text-align: center;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 122.727% */
    padding:20px;
}

.brick-1{
    padding:15px;
    border: 2px solid #4954C7;
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}
.roe1 :hover{
    background-color: #E36429;
    box-shadow: 10px 10px #E36429;  
    outline-color: transparent;
}
.brick-1 h3{
    margin-top:10px;
    color: #23292F;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30.5px;  
}
.brick-1 p{
    color: #23292F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */ 
}
.brick-2{
    padding:15px;
    border: 2px solid #4954C7;
}
.brick-2 h3{
    color: black;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30.5px; 
    padding-top: 10px;
    padding-bottom: 10px;
}
.brick-2 p{
    color: black;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.brick-3{
    padding: 15px;
    justify-content: center;
    border: 2px solid #4954C7;
    margin-top: 50px;
}
.brick-3 h3{
    color: #23292F;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30.5px; 
    padding-top: 10px;
    padding-bottom: 10px;
}
.brick-3 p{
    color: #23292F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.brick-4{
    padding:15px;
    justify-content: center;
    border: 2px solid #4954C7;
}
.brick-4 h3{
    color: #23292F;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30.5px; 
    padding-top: 10px;
    padding-bottom: 10px;

}
.brick-4 p{
    color: #23292F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.phone-top-section{
    background-image: url('images/whitebg.jpg');
    background-repeat: no-repeat;
    padding:130px 0px 230px !important;
    position: relative;
    margin-top: -50px;
    background-size: cover;
    background-position: center;
    z-index: -2;
}
.phone-top-section h1{
    color: #23292F;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 122.727% */
}
.phone-top-section p{
    color: #23292F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.phone-top-section img-fluid{
    height: auto;
    max-width: 100%;
}
.multi-trading-top{
    background-image: url('images/bluestarg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-top: -50px;
}
.multi-trading-top::before{
    background-image: url('images/star-img.jpg');
    position: absolute;
    z-index: 1;
    content:"";
    display: block;
    width:1254px;
    height:292px;
    right: 30px;
}
.multi-trading{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    padding:100px;
}
.multi-trading-top h1{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 137.5% */
}
.multi-trading-top button{
    background: #E36429;
    padding:10px 20px;
    position: relative;
    z-index: 1;
    margin: 30px;
    color:white;
}
.tabular-card-top{
    background-image: url('images/blackbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:-150px;
    padding:130px  0px 220px !important;
    position:relative;
}
.tabular-card-top .table-1::before{
    content:"";
    width:70%;
    justify-content: center;
    left:30px;
    top:-50px;
    z-index: -1;
    height: 150%;
    position: absolute;
    margin-bottom: 10px;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}
.circle-number{
    display: flex;
    height:60px;
    width:20%;
    border:2px solid white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:-80px;
    left:100px;
    z-index: -2;
    
}
.row2{
    margin-top:180px;
}
.table-1 :hover{
    background-color: #E36429;
    .circle-number:hover{
        background-color: #E36429;
    }
}
@media (max-width: 762px){
    .col-lg-4 {
        flex: 0 0 auto;
        width: 50%;
    }
}

.tabular-card{
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 122.727% */
    padding:10px;
    z-index:1;
    position: relative;
}

.tabular-card h2{
    text-align: left;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30.5px; /* 127.083% */
    padding:15px;
}
.tabular-card p{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding:15px;
    text-align: left;
}
.tabular-card .table-1{
    background-color: #4954C7;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
}
.tabular-card-top h1{
    color:white;
    margin-bottom:150px;
    text-align: center;
    font-family: Poppins;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 122.727% */
}
.bottom-banner-top{
    background-image: url('images/whitebg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:-180px;
    padding:130px 0px 120px !important;
    position: relative;
    z-index: -1;
}
.bottom-banner-top h1{
    color: #23292F;
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; /* 122.727% */
}
.bottom-banner-top p{
    color: #23292F;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.bottom-banner{
    margin:50px 0px;
}
.bottom-banner-top::before{
    background-image: url('images/bottom-bg.webp');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    content:"";
    width:1233px;
    height:325px;
    display: block;
    top:130px;
    right:20px;
}
